body{
	 background-image: url(../image/bg.png);
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 300px;
}
.main{
	background-color:#F5F5F5;
	min-height:500px;
}
.add-icon{
	width:128px;
	height:128px;
	margin-top:25px;
	margin-left:60px;
}
